{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/leftovers/leftover-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Leftovers</h1>
</section>

<section class="card-container">
  {% for leftover in leftovers %}
    <div class="card">
      <a href="{% url 'leftovers_detail' leftover.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% comment %} <img 
              src="{% static 'images/sk8r-boi-cat.svg' %}" 
              alt="A skater boy cat"
            > {% endcomment %}
          </div>
          <h2 class="card-title">{{ leftover.name }}</h2>
          <p>Expires: {{ leftover.expiration }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}