{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <link
    rel="shortcut icon"
    type="image/png"
    href=""
  > {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
  <title>Tupperwhere</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'leftovers_index' %}">
              <img class="nav-icon" src="{% static 'images/index-icon.png' %}" alt="">
              <span class="nav-text">Leftovers</span>
            </a>
          </li>
          <li>
            <a href="{% url 'leftovers_create' %}">
              <img class="nav-icon" src="{% static 'images/add-icon.png' %}" alt="">
              <span class="nav-text">Add Leftover</span>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}">
              <img class="nav-icon" src="{% static 'images/logout-icon.png' %}" alt="">
              <span class="nav-text">Log Out</span>
            </a>
          </li>
        {% else %}
          <li><a href="{% url 'home' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>