.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #FCF2DD;
  border: #6E6E6E solid 2px;
  padding: 30px 10px;
  box-shadow: 5px 5px 5px gray;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.btn {
  align-self: flex-end;
  margin-right: 40px;
}

@media only screen and (min-width: 320px) {
  form {
    width: 100%;
  }

  .helptext {
    font-size: var(--font-sm);
  }
  

  table {
    padding: 0;
  }

  label, input {
    font-size: var(--font-reg);
  }

  .btn {
    align-self: center;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  form {
    width: 80%;
  }

  table {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .helptext {
    font-size: var(--font-reg);
  }
}